build/
main
clio
/clio.db
/clio.db*
/bak/
/tmp/
__debug_bin*
.env
_workspace/*
!_workspace/README.md
!_workspace/db/
!_workspace/sites/
_workspace/sites/*/*
!_workspace/sites/*/documents/
_workspace/sites/*/documents/html/
_workspace/sites/*/documents/config/
_workspace/sites/*/documents/assets/
node_modules/
assets/ssg/static/css/prose.compiled.css
assets/static/css/prose.compiled.css
scripts/priv/
.snapshots/
go.work*
