{{ define "page" }}
{{ template "layout" . }}
{{ end }}

{{ define "title" }}
Edit Image
{{ end }}

{{ define "content" }}
<h1>Edit Image</h1>
{{ template "image-form-new" . }}
{{ end }}

{{ define "submenu" }}
<div class="mx-auto p-4">
  <div class="flex space-x-4 justify-center">
    <a href="{{ listPath "image" }}" class="btn btn-secondary">Back</a>
  </div>
</div>
{{ end }}
