{{ define "page" }}
{{ template "layout" . }}
{{ end }}

{{ define "title" }}
New Section
{{ end }}

{{ define "content" }}
<h1>New Section</h1>
{{ template "section-form-new" . }}

{{ template "image-upload-modal" . }}
{{ end }}

{{ define "submenu" }}
<div class="mx-auto p-4">
  <div class="flex space-x-4 justify-center">
    <a href="{{ listPath "section" }}" class="btn btn-secondary">Back</a>
  </div>
</div>
{{ end }}
