<div class="list-grid">
    {{ range . }}
        <div class="list-card">
            <a href="{{ if eq .SectionPath "/" }}/{{ .Slug }}/{{ else }}{{ .SectionPath }}/{{ .Slug }}/{{ end }}" class="list-card-link">
                {{if .HeaderImageURL}}
                <img src="{{ .HeaderImageURL }}" alt="{{ .Heading }}" class="list-card-image">
                {{else if .ThumbnailURL}}
                <img src="{{ .ThumbnailURL }}" alt="{{ .Heading }}" class="list-card-image">
                {{else}}
                <div class="list-card-image-placeholder"></div>
                {{end}}
                <div class="list-card-content">
                    <h2 class="list-card-title">{{ .Heading }}</h2>
                    <!-- <p class="text-gray-600 text-sm mb-4">{{ .Summary }}</p> -->
                    <div class="list-card-meta">
                        <svg class="list-card-meta-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                        </svg>
                        {{ if .PublishedAt }}
                        <span>{{ .PublishedAt.Format "January 2, 2006" }}</span>
                        {{ end }}
                    </div>
                </div>
            </a>
        </div>
    {{ end }}
</div>