{{ define "permission-form" }}
<form action="{{ .Form.Action }}" method="post" class="space-y-4">
  <input type="hidden" name="_method" value="{{ .Form.Method }}" />
  <input type="hidden" name="hm.csrf.token" value="{{ .Form.CSRF }}" />
  <input type="hidden" name="id" value="{{ .Data.ID }}" />
  <div>
    <label for="name" class="block text-sm font-medium text-gray-700"
      >Name:</label
    >
    <input
      type="text"
      id="name"
      name="name"
      value="{{ .Data.Name }}"
      required
      class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
    />
  </div>
  <div>
    <label for="description" class="block text-sm font-medium text-gray-700"
      >Description:</label
    >
    <textarea
      id="description"
      name="description"
      class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
    >{{ .Data.Description }}</textarea>
  </div>
  <div>
    <button
      type="submit"
      class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
    >
      {{ if eq .Form.Action (printf "%s/create-permission" .Feat.Path) }}Create{{ else
      if eq .Form.Action (printf "%s/update-permission" .Feat.Path) }}Update{{ else
      }}{{ .Form.Button.Text }}{{ end }}
    </button>
  </div>
</form>
{{ end }}