<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{if .IsIndex}}Index{{else}}{{.Content.Heading}}{{end}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="{{.AssetPath}}static/css/prose.compiled.css" rel="stylesheet">
    
</head>
<body class="site-body">
    <nav class="site-nav">
        <div class="site-container">
            <a class="site-nav-link" href="/">Home</a>
            {{range .Menu}}
            <a class="site-nav-link" href="{{.Path}}/">{{.Name}}</a>
            {{end}}
        </div>
    </nav>

    {{if .IsIndex}}
        {{if .SectionHeaderImage}}
            {{if eq .HeaderStyle "overlay"}}
                <div class="hero-wrapper overlay">
                    <img class="hero-image" src="{{.SectionHeaderImage}}" alt="Section Header">
                    <h1 class="hero-title">Index</h1>
                </div>
                <div class="site-container">
                    <hr>
                    <main>
                        {{template "list.tmpl" .ListPageContent}}
                    </main>
                </div>
            {{else if eq .HeaderStyle "boxed"}}
                <div class="hero-wrapper boxed">
                    <img class="hero-image" src="{{.SectionHeaderImage}}" alt="Section Header">
                    <div class="hero-title-box">
                        <h1 class="hero-title">Index</h1>
                    </div>
                </div>
                <div class="site-container">
                    <main>
                        {{template "list.tmpl" .ListPageContent}}
                    </main>
                </div>
            {{else}}
                <img class="hero-image hero-stacked-image" src="{{.SectionHeaderImage}}" alt="Section Header">
                <div class="site-container">
                    <h1 class="site-h1">Index</h1>
                </div>
                <div class="site-container">
                    <main>
                        {{template "list.tmpl" .ListPageContent}}
                    </main>
                </div>
            {{end}}
        {{else}}
            <div class="site-container">
                <h1 class="site-h1">Index</h1>
            </div>
            <div class="site-container">
                <main>
                    {{template "list.tmpl" .ListPageContent}}
                </main>
            </div>
        {{end}}
        <div class="site-container">
            {{template "pagination.tmpl" .}}
    {{else}}
        {{if eq .HeaderStyle "text-only"}}
            <div class="site-container">
                <main>
                    {{.Content.Body}}
                </main>
            </div>
        {{else if eq .HeaderStyle "overlay"}}
            <div class="hero-wrapper overlay">
                <img class="hero-image" src="{{.Content.HeaderImage}}" alt="{{.Content.HeaderImageAlt}}">
                <h1 class="hero-title">{{.Content.Heading}}</h1>
            </div>
            <div class="site-container">
                <hr>
                <main>
                    {{.Content.Body}}
                </main>
            </div>
        {{else if eq .HeaderStyle "boxed"}}
            <div class="hero-wrapper boxed">
                <img class="hero-image" src="{{.Content.HeaderImage}}" alt="{{.Content.HeaderImageAlt}}">
                <div class="hero-title-box">
                    <h1 class="hero-title">{{.Content.Heading}}</h1>
                </div>
            </div>
            <div class="site-container">
                <main>
                    {{.Content.Body}}
                </main>
            </div>
        {{else}} {{/* Default to stacked */}}
            <img class="hero-image hero-stacked-image" src="{{.Content.HeaderImage}}" alt="{{.Content.HeaderImageAlt}}">
            <div class="site-container">
                <main>
                    {{.Content.Body}}
                </main>
            </div>
        {{end}}

    {{end}}

    <div class="site-container">
        {{template "blocks" .}}
        
    {{template "google-search.tmpl" .}}
    </div>
</body>
</html>
